*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

.input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(20 / 14 * 100%);
  color: #737373;
  background-color: #fafafa;
}

._container {
  max-width: calc(1050px + 30px);
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 105px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  color: #252b42;
}

.header__menu {
  margin: 0px 0px 0px 130px;
}

.menu {
  padding: 5px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  line-height: calc(24 / 14 * 100%);
  color: inherit;
  font-weight: 600;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
  .header__container {
    min-height: 70px;
  }
  .menu__link {
    font-size: 18px;
  }
}

.main-block__body {
  padding: 185px 0 197px 0;
  position: relative;
  z-index: 2;
  max-width: 510px;
}

.main-block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  color: #252b42;
}

.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20 * 100%);
  letter-spacing: 0.2px;
  max-width: 375px;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 50px;
  border-radius: 37px;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(28 / 14 * 100%);
  letter-spacing: 0.2px;
  margin: 10px 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__button_border:hover {
  color: #ffffff;
  background-color: #0d5c63;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-block__button_orange {
  background-color: #ff7b47;
  color: #ffffff;
  border: 1px solid #ff7b47;
}

.main-block__button_orange:hover {
  color: #ff7b47;
  background-color: transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-block__image img {
  -o-object-position: right;
     object-position: right;
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.6;
  }
  .main-block__body {
    padding: 120px 0 197px 0;
  }
}

@media (max-width: 479px) {
  .main-block__image {
    opacity: 0.4;
  }
  .main-block__body {
    padding: 100px 0 150px 0;
  }
  .main-block__title {
    font-size: 42px;
  }
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__main-block {
  position: relative;
}

.page__services {
  position: relative;
  margin-top: -110px;
  z-index: 2;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.services__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.services__item {
  height: 100%;
  padding: 35px 40px;
  background: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.item-service_green {
  background-color: #0d5c63;
}

.item-service_green .item-service__title {
  color: #fff;
}

.item-service_green .item-service__text {
  color: #fff;
}

.item-service__title {
  color: #252b42;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24 * 100%);
}

.item-service__text {
  line-height: calc(20 / 14 * 100%);
  letter-spacing: 0.2px;
}

.item-service > *:not(:last-child) {
  padding-bottom: 10px;
}

@media (max-width: 992px) {
  .services__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    padding-bottom: 30px;
  }
  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 690px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .services__item {
    padding: 10px 40px;
  }
}

.advantages {
  padding: 100px 0 50px;
}

.advantages__header {
  margin: 0 0 50px 0;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 15px;
  margin: 0 0 30px 0;
}

.advantages__item {
  background-color: white;
  padding: 35px;
  font-weight: 700;
  text-align: center;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.advantages__item > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.advantages__icon {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.advantages__text {
  letter-spacing: 0.1px;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
  .advantages__header {
    margin: 0 0 30px 0;
  }
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.header-block__title:not(:last-child) {
  padding: 0 0 10px 0;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 32px;
  }
  .header-block__title:not(:last-child) {
    padding: 0 0 5px 0;
  }
}

.practice {
  padding: 50px 0 50px;
}

.practice__header {
  margin: 0 0 30px 0;
}

.practice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -20px -30px;
}

.practice__column {
  padding: 0 20px;
  margin-bottom: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.practice__item {
  background-color: white;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.item-practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-practice__content > *:not(:last-child) {
  padding: 0 0 15px 0;
}

.item-practice__link {
  display: inline-block;
}

.item-practice:hover {
  text-decoration: underline;
}

.item-practice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

@media (max-width: 992px) {
  .practice {
    padding: 0px 0px 40px;
  }
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 690px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.whoweare {
  padding: 50px 0 50px;
  background-color: #fff;
}

.whoweare__header {
  padding: 0 0 30px 0;
}

.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  position: relative;
  padding: 0 0 42% 0;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 50px;
}

.whoweare__content > *:not(:last-child) {
  padding: 0 0 20px 0;
}

.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  color: #252b42;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-whoweare:not(:last-child) {
  padding: 0 0 30px 0;
}

.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-whoweare__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
  padding: 0 0 5px 0;
}

@media (max-width: 992px) {
  .whoweare {
    padding: 20px 0 20px;
  }
  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .whoweare__video {
    padding: 0 0 56.25% 0;
    margin: 50px 0 0 0;
  }
  .whoweare__content {
    padding: 0 0 0 20px;
  }
  .whoweare__title {
    font-size: 24px;
  }
}

@media (max-width: 690px) {
  .whoweare__content {
    padding: 0 0 0 0;
  }
}

.clients {
  padding: 60px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  text-align: center;
}

@media (max-width: 992px) {
  .clients__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.3%;
            flex: 1 0 33.3%;
    padding: 30px;
  }
}

@media (max-width: 690px) {
  .clients__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (max-width: 440px) {
  .clients__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 15px 0 15px 0;
  }
}

.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}

.subscribe::before {
  content: "";
  position: absolute;
  height: 77px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #252b42;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  margin: 0 30px;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #17213c;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  border-right: 0;
  height: 58px;
  padding: 0 20px;
}

.subscribe__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 0 22px;
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  min-height: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.subscribe__button:hover {
  color: #ff7b47;
  background-color: transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 992px) {
  .subscribe__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .subscribe__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .subscribe__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 690px) {
  .subscribe::before {
    display: none;
  }
  .subscribe__body {
    margin: 0 -15px;
    padding: 25px 15px;
  }
  .subscribe__input {
    width: 100%;
  }
  .subscribe__button {
    padding: 0 15px;
  }
}

.getintouch {
  padding: 80px 0 80px;
  background: #f3f3f3;
}

.getintouch__body {
  padding: 80px 30px;
}

.getintouch__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 50px 40px;
  gap: 15px;
  background: #ffffff;
}

.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-getintouch__email {
  font-weight: 600;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.item-getintouch__email:hover {
  text-decoration: underline;
  color: #ff7b47;
}

.item-getintouch__label {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-getintouch__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px 20px;
  min-height: 44px;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  letter-spacing: 0.2px;
  color: #ff7b47;
  font-weight: 600;
  -webkit-transition: 1s;
  transition: 1s;
}

.item-getintouch__button:hover {
  color: #fff;
  background-color: #ff7b47;
  -webkit-transition: 1s;
  transition: 1s;
}

.item-getintouch_active {
  padding: 80px 40px;
  background: #252b42;
  color: #fff;
}

.item-getintouch_active .item-getintouch__label {
  color: #fff;
}

.item-getintouch_active .item-getintouch__email {
  color: #fff;
}

.item-getintouch_active .item-getintouch__email:hover {
  color: #ff7b47;
}

.item-getintouch_active .item-getintouch__button {
  color: #fff;
  border: 1px solid #fff;
}

.item-getintouch_active .item-getintouch__button:hover {
  border: 1px solid #ff7b47;
}

@media (max-width: 992px) {
  .getintouch__body {
    padding: 80px 0;
  }
  .getintouch__items {
    display: block;
  }
  .getintouch__item {
    padding: 30px 40px;
  }
}
